<div class='pad2x show-mobile'>
  <a href='#sponsors' class='button block'>Supporters</a>
</div>

<section id='sponsors' class='hide-mobile col12 center fill-light pad2y'>
  <div class='limiter clearfix'>
    <div class='col10 margin1'>

      <h2 class='space-bottom1'>Sponsors</h2>
        <div class = 'sponsor--logos__container'>
          <!-- platnium sponsors -->
          <div class = 'sponsor--logos'>
            <img class='fb-platnium' src = "{{site.domain}}{{ site.baseurl }}/img/sponsor-logos/fb_logo.png"></img>
          </div>
          <!-- gold sponsors -->
          <div class = 'sponsor--logos'> 
            <img class='bing-gold' src = "{{site.domain}}{{ site.baseurl }}/img/sponsor-logos/bing_logo.png"></img>
            <img class='mb-gold' src = "{{site.domain}}{{ site.baseurl }}/img/sponsor-logos/mb_logo.png"></img>
          </div>
          <!-- silver sponsors -->
          <div class = 'sponsor--logos'> 
            <img class='mz-silver' src = "{{site.domain}}{{ site.baseurl }}/img/sponsor-logos/mz_logo.png"></img>
          </div>
          <!-- bronze sponsors -->
          <div class = 'sponsor--logos'> 
            <img src = "{{site.domain}}{{ site.baseurl }}/img/sponsor-logos/mme_logo.png"></img>
            <img src = "{{site.domain}}{{ site.baseurl }}/img/sponsor-logos/tw_logo.png"></img>
            <img src = "{{site.domain}}{{ site.baseurl }}/img/sponsor-logos/ds_logo.png"></img>
            <img src = "{{site.domain}}{{ site.baseurl }}/img/sponsor-logos/KartozaLogoHorizontalRGB.png"></img>
            <img src = "{{site.domain}}{{ site.baseurl }}/img/sponsor-logos/MapAction_Logo_on_white .png"></img>
          </div>
          <!-- organizing partners -->
          <div class = 'sponsor--logos'>
            <img src = "{{site.domain}}{{ site.baseurl }}/img/sponsor-logos/hot_logo.png"></img>
            <small>In partnership with</small>
            <img class='statcan-logo' src = "{{site.domain}}{{ site.baseurl }}/img/sponsor-logos/statcan_logo.png"></img>
          </div>
        </div>

    </div>
  </div>
</section>

<section class='fill-white pad2y center'>
  <div class='limiter'>
    <p><strong>Interested in participating?</strong> Email <a href='mailto:summit@hotosm.org'>summit@hotosm.org</a> to learn more.</p>
  </div>
</section>
<footer class='col12 center fill-blue dark'>
  <div class='fill-darken3 pad2y col12'>
    <div class='limiter'>
      <p class='small hide-mobile'>
        <a href="{{site.domain}}{{site.baseurl}}/codeofconduct/">Code of Conduct</a> | <a href='http://summit.hotosm.org'>HOT Summit</a> | <a href='https://twitter.com/hotosm' target='_blank'>@hotosm</a><!-- | Photo credits: USAID, 596 acres, UCSB, Kerri Lee Smith | Logo credits: Andrew Rasner -->
    </div>
  </div>
</footer>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.hotosm.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 4]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.hotosm.org/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
