---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name='robots' content='{% if page.hidden %}noindex{% else %}index{% endif %}'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta name='twitter:site' content='@hotosm' />
  <meta property='og:site_name' content='HOT Summit' />
  <meta name='twitter:url' content='{{page.permalink}}' />
  <meta name='twitter:domain' content='http://summit.hotosm.org/' />
  <meta property='og:url' content='{{page.permalink}}' />
  <meta name='twitter:title' content='{{page.title | replace:"'","&lsquo;"}}' />
  <meta property='og:title' content='{{page.title | replace:"'","&lsquo;"}}' />
  <meta name='twitter:description' content='{{page.content | markdownify | strip_html | trim_spaces | truncatewords: 30 | escape | replace:"'","&lsquo;" }}' />
  <meta property='og:description' content='{{page.content | markdownify | strip_html | trim_spaces | truncatewords: 30 | escape | replace:"'","&lsquo;" }}' />
  <meta name='twitter:image' content='{{site.domain}}{{site.baseurl}}/img/HOTsummit2016_logo.png' />
  <meta name='st:image' content='{{site.domain}}{{site.baseurl}}/img/HOTsummit2016_logo.png' />
  <meta property='og:image' content='{{site.domain}}{{site.baseurl}}/img/HOTsummit2016_logo.png' />
  <meta property='og:type' content='website' />
  <meta name='twitter:card' content='summary_large_image' />

  <title>{% if page.url == "/"  %}{% else %}{{page.title}} | {% endif %}HOT Summit</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='http://fonts.googleapis.com/css?family=Kreon:400,700' rel='stylesheet' type='text/css'>
	<link href='{{site.domain}}{{site.baseurl}}/base/base.css' rel='stylesheet' />
  <link href='{{site.domain}}{{site.baseurl}}/site.css' rel='stylesheet' />
  <link href='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <script src='{{site.domain}}{{site.baseurl}}/site.js'></script>
</head>
<body class='{% if page.url == "/index.html" %}front{% endif %}'>

<nav class='pad2 fill-red site-navigation center'>
  <nav class='navigation-container'>
  <a class='strong {% if page.url == "{{site.baseurl}}/index.html" or page.url == "{{site.domain}}{{site.baseurl}}/" %}active{% endif %}' href='{{site.baseurl}}/'>Home</a>
  <a class='strong {% if page.url contains "program" %}active{% endif %}' href='{{site.domain}}{{site.baseurl}}/program/'>Program</a>
<!--   <a class='strong {% if page.url contains "speakers" %}active{% endif %}' href='{{site.domain}}{{site.baseurl}}/speakers/'>Speakers</a> -->
  <!-- <a class='strong {% if page.url contains "venue" %}active{% endif %}' href='{{site.domain}}{{site.baseurl}}/venue/'>Venue Info</a> -->
  <a class='strong {% if page.url contains "about" %}active{% endif %}' href='{{site.domain}}{{site.baseurl}}/about/'>About</a>
 <!-- <a class='strong {% if page.url contains "register" %}active{% endif %}' href='' target='_blank'>Register</a> -->
  <a class='strong {% if page.url contains "sponsor" %}active{% endif %}' href='{{site.domain}}{{site.baseurl}}/sponsor/'>Sponsor</a>
  <a href='https://twitter.com/search?q=%23hotsummit&src=typd' target='_blank' class='hide-mobile inline small strong dark'><img src='{{site.domain}}{{ site.baseurl }}/img/twitter.svg' class = 'icon-img'/> #hotsummit</a>
  </nav>
</nav>

{{content}}

<div class='pad2x show-mobile'>
  <a href='#sponsors' class='button block'>Supporters</a>
</div>

<section id='sponsors' class='hide-mobile col12 center fill-light pad2y'>
  <div class='limiter clearfix'>
    <div class='col10 margin1'>

      <h2 class='space-bottom1'>Sponsors</h2>
        <div class = 'sponsor--logos__container'>
          <div class = 'sponsor--logos'> 
            <img src = "{{site.domain}}{{ site.baseurl }}/img/sponsor-logos/hot_logo.png"></img>
            <img src = "{{site.domain}}{{ site.baseurl }}/img/sponsor-logos/statcan_logo.png"></img>
          </div>
        </div>

      <h3>Get in touch to get involved</h3>

    </div>
  </div>
</section>

<section class='fill-white pad2y center'>
  <div class='limiter'>
    <p><strong>Interested in participating?</strong> Email <a href='mailto:summit@hotosm.org'>summit@hotosm.org</a> to learn more.</p>
  </div>
</section>
<footer class='col12 center fill-blue dark'>
  <div class='fill-darken3 pad2y col12'>
    <div class='limiter'>
      <p class='small hide-mobile'>
        <a href="{{site.domain}}{{site.baseurl}}/codeofconduct/">Code of Conduct</a> | <a href='http://summit.hotosm.org'>HOT Summit</a> | <a href='https://twitter.com/hotosm' target='_blank'>@hotosm</a><!-- | Photo credits: USAID, 596 acres, UCSB, Kerri Lee Smith | Logo credits: Andrew Rasner -->
    </div>
  </div>
</footer>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.hotosm.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 4]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.hotosm.org/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
